.module {
    width: 250px;
    overflow: hidden;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }

  .card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: black;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}